/*----- Header -----*/

body {
    font-family: 'Titillium Web', sans-serif;
    background: #f0f0f0;
}

header {
    background: #333;
    border-bottom: 5px solid #ffff00;

    .separator {
        background: #ffff00;
        height: 5px;
        width: 200px;
        margin: 25px auto;
    }
}

.nav {
    
    .nav-item {
        list-style-type: none;
        margin: 10px 250px 10px 0;
        font-size: 20px;
        font-weight: bold;

        .nav-link {
            color: #ffff00;
            font-size: 15px;
            transform: scale(1);

            &:hover {
                color: #ffff00;
                transform: scale(1.1);
            }
        }
    }
}

h1 {
    font-family: 'Finger Paint', cursive;
    font-size: 60px;
    color: #ffff00;
    text-align: center;
}

h2 {
    text-align: center;
}

.formulaire {
    margin: 50px 0 0 0;
}

label {
    font-size: 25px;
}

input {
    width: 100%;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;

    &:focus {
        border: 3px solid #ffff00;
    }
}

.validateButton {
    background: #ffff00;
    font-weight: bold;
    width: 50%;

    &:hover {
        color: #fff;
        background: #000;
    }
}

